version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: etb_project
    volumes:
      - .:/app
      - /app/.venv
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: python -m etb_project.main
    
    restart: unless-stopped

  

